Source: golang-github-cilium-ebpf
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: Shengjing Zhu <zhsj@debian.org>,
Section: golang
Testsuite: autopkgtest-pkg-go
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-golang,
               golang-any (>= 2:1.13~),
               golang-golang-x-exp-dev,
               golang-golang-x-sys-dev (>= 0.0~git20211117~),
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/go-team/packages/golang-github-cilium-ebpf
Vcs-Git: https://salsa.debian.org/go-team/packages/golang-github-cilium-ebpf.git
Homepage: https://github.com/cilium/ebpf
Rules-Requires-Root: no
XS-Go-Import-Path: github.com/cilium/ebpf

Package: golang-github-cilium-ebpf-dev
Architecture: all
Depends: golang-golang-x-exp-dev,
         golang-golang-x-sys-dev (>= 0.0~git20211117~),
         ${misc:Depends},
Multi-Arch: foreign
Description: eBPF Library for Go
 eBPF is a pure Go library that provides utilities for loading, compiling,
 and debugging eBPF programs. It has minimal external dependencies and
 is intended to be used in long running processes.
